{% load static %}
<html>
    <head>
        <title>bookpreview</title>
        <link rel="stylesheet" href="{% static 'CSS.css' %}">
    </head>
    <body>
        <div id="book">
            <h1>
                <span class="letter1">F</span>
                <span class="letter2">R</span>
                <span class="letter3">I</span>
                <span class="letter4">E</span>
                <span class="letter5">N</span>
                <span class="letter6">D</span>
                <span class="letter7">S</span>
            </h1>

            <hr>
            <img src="{% static 'creators.png' %}">
            <h5>
                The Iconic sitcom, was created and written By,<br>
                <strong>
                    <span class="creators">David Crane & Marta Kauffman</span>
                </strong>
            </h5>
        </div>
    </body>
</html>
