    @font-face {
    font-family: 'FriendsFont';
    src: url('friends.TTF');
    }

    body {
        margin: 0;
        background-color: rgb(93, 93, 93);
    }

    #book {
        height: 700px;
        width: 490px;
        border: 5px solid black;
        background-image: url('backgroundd.jpg');
        background-size: cover;
        background-position: center;
        margin: 40px auto;
        position: relative;
    }

    #book h1 {
        text-align: center;
        letter-spacing: 3px;
        font-family: 'FriendsFont';
        font-size: x-large;
        width: 100%;
        top: 118px;
        left: 0;
        margin: 0;
        position: absolute;
    }
    .letter1 { color: red; }
    .letter2 { color: blue; }
    .letter3 { color: yellow; }
    .letter4 { color: red; }
    .letter5 { color: yellow; }
    .letter6 { color: blue; }
    .letter7 { color: red; }

    hr {
    position: absolute;
    width: 150px;    
    right: 22px;      
    border: none;   
    bottom: 220px;  
    border-top: 2px solid white; 
    margin-bottom: 10px; 
    }

    #book img {
        height: 120px;
        width: 120px;
        border-radius: 20%;
        position: absolute;
        bottom: 100px;
        right: 30px;
        background-color:black;
        padding: 3px;
    }

    #book h5 {
        position: absolute;
        bottom: 0;
        right: 30px;
        width: 200px;
        margin: 0%;
        text-align: center;
        color: white;
        font-family: Magneto;
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 5px;
    }
    .creators{
    color: yellow;
    }
